

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class ="bg-primary d-flex justify-content-around align-items-center">
<h1 class ="mx-5">LOGIN</h1>
  <div class="actions form-group">
    <%= f.submit "Log in", class:"btn btn-primary my-3" %>
  </div>
</div>
  <div class ="container">
  <div class="field form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:'Email', class: "form-control my-2" %>
  </div>

  <div class="field form-group">
    <%= f.password_field :password, autocomplete: "current-password",placeholder:'Password', class: "form-control my-2" %>
  </div>

<% end %>
<div class="d-flex flex-column align-items-center">
<%= render "users/shared/links" %>
</div>
</div>

