<h1>New transaction</h1>
<%= form_with model: @transaction, url: create_transaction_path do |form| %>
  <%= form.text_field :name, placeholder: 'name', class: 'form-control mb-3' %>
  <%= form.number_field :amount, placeholder: 'amount', class: 'form-control mb-3' %>
   <% @categories.each do |category| %>
      <%= label_tag category.name %>
      <%= check_box_tag "categories[#{category.id}]", category.name %>
      <br />
    <% end %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.submit "Submit", class: 'btn btn-primary' %>
<% end %>